// mediaQueries


@media(max-width: 1024px) {

  .buttons {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-end;
    
    button {
      margin: 20px 0;
    }

    }

    .slideContent {
      width: 90%;
    }

  }

  @media(max-width: 780px) {

    h1 {
      font-size: 4.5rem;
    }

    h2 {
      font-size: 4.2rem;
    }

    p {
      font-size: 1.5rem;
    }

    ul {
      font-size: 2.3rem;
    }
    
    .title,
    span,
    .description,
    .icon {
      text-align: center;
    }

    .title p {
    padding: 0;
    
    }

    .infoContainer {
      padding: 20px;

      p {
        font-size: 1.2rem;

      }
    } 


    .icon {
      padding: 0;
      position: absolute;
      bottom: 30px;

        i {
        padding: 20px;
      }
    }

    .arrowLeft img {
      left: 10px;
    }

    .arrowRight img {
      right: 10px;
    }

  }

  @media(max-width: 600px) {

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3.8rem;
    }

    span p{
      font-size: 1rem;
      padding: 0;
    }

    p {
      font-size: 1.4rem;
      line-height: 40px;
    }

    .moreInfo {
      width: 95%;

      p {
        line-height: 30px;
      }
    }

    .containerArrow img {
      width: 38px;
    
    }

    .icon i {
      font-size: 1.5rem;
  }

  }

  @media(max-width: 450px) {

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 3.2rem;
    }

    p {
      font-size: 1.4rem;
    }

    .containerArrow img {
      width: 32px;
    
    }

  }