a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2 {
  color: white;
  font-size: 6rem;
  font-family: "Poiret One", cursive;
}

h1 {
  line-height: 90px;
  display: block;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 5.5rem;
}

h3 {
  color: white;
  font-size: 2.5rem;
  font-family: "Poiret One", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 1.7rem;
  display: block;
  padding-top: 50px;
  line-height: 50px;
}

.header {
  margin: 0 auto;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.icon {
  text-align: right;
  width: 100%;
  padding-top: 60px;
}

.icon i {
  padding-left: 50px;
  font-size: 1.8rem;
  color: turquoise;
  cursor: pointer;
}

.icon i:hover {
  color: white;
}

.containerSelection {
  border-radius: 10px;
}

.btn {
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.btn:hover {
  background-color: turquoise;
}

.btn span {
  text-align: left;
  position: absolute;
  right: 10px;
}

.closePopUp {
  position: absolute;
  top: -40px;
  right: 0;
  color: grey;
  font-size: 1.8rem;
}

.closePopUp:hover {
  color: turquoise;
  cursor: pointer;
}

.overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coffeePopUp {
  position: relative;
}

ul {
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 50px 120px;
  font-family: "Poiret One", cursive;
  font-size: 2.5rem;
}

li {
  list-style: none;
  padding: 20px;
}

li:hover {
  color: turquoise;
  cursor: pointer;
}

@media (max-width: 915px) {
  .slideContent {
    width: 80%;
    text-align: center;
    display: block;
    padding: 50px;
  }
  h1 {
    font-size: 4rem;
  }
  .description {
    width: 100%;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
  }
  .title h2 {
    width: 100%;
    padding-top: 100px;
    text-align: center;
  }
  .moreInfo {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
  }
  .moreInfo p {
    font-size: 1.4rem;
  }
  .slideContent .icon {
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
  }
  .slideContent .icon i {
    padding: 0 40px;
    text-align: center;
    margin: 0 auto;
  }
}

body,
.slide,
.containerSlider {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  position: relative;
  display: none;
}

.homeContainer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}

.home {
  background-image: url("../assets/home.jpg");
  display: block;
}

.slideContent {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  text-align: left;
  width: 80%;
  border-bottom: 2px solid turquoise;
}

.title p {
  color: silver;
  font-style: italic;
  padding: 20px 0;
}

.description {
  width: 80%;
  text-align: left;
}

.description p {
  padding: 10px;
}

.moreInfo {
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  margin: 0 auto;
  padding: 60px;
  border: 2px solid turquoise;
  line-height: 40px;
  position: relative;
}

.moreInfo p {
  color: white;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  margin: 15px 0;
}

.videoPopup {
  position: relative;
  margin: 0 auto;
}

.close,
.closeInfo {
  position: absolute;
  padding: 5px;
  top: -30px;
  right: -6px;
  font-size: 1.8rem;
  color: grey;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.closeInfo {
  top: -60px;
}

.close:hover {
  color: white;
}

.slide1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.8))), url(../assets/espresso2.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url(../assets/espresso2.jpg);
}

.slide2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.8))), url("../assets/americano.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url("../assets/americano.jpg");
}

.slide3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.8))), url("../assets/latte.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url("../assets/latte.jpg");
}

.slide4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.8))), url("../assets/capuccino.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url("../assets/capuccino.jpg");
}

.slide5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.8))), url("../assets/macchiato.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url("../assets/macchiato.jpg");
}

.containerArrow img {
  width: 45px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 99;
  background-color: white;
  border: 1px solid white;
  border-radius: 25px;
  padding: 4px;
}

.containerArrow img:hover {
  background-color: turquoise;
}

.arrowLeft img {
  left: 20px;
}

.arrowRight img {
  right: 20px;
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
* Generated by Animista on 2020-7-25 16:24:52
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
* ----------------------------------------
* animation heartbeat
* ----------------------------------------
*/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-25 16:13:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */