@import "setup";


body,
.slide,
.containerSlider {
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
}

.slide {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display:none;
  position:relative;
}


.home {
  background-image: url('../assets/home.jpg'); 
  display:inline-block;


h1 {
    color:white;
    font-size: 5rem;
    line-height: 90px;
    text-align: center;
    display: block;
    margin:0 auto;
    padding:0;
    font-family: 'Poiret One', cursive;
    background-color:rgba(00, 00, 00, 0.5);
    padding:80px 0;

    span{
        display: inline-block;
    }
  } 
}



.slideContent{
    width:80%;
    height:100vh;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;


    .buttons{
        text-align: right;
        width: 100%;
        padding-top:60px;

        i{
          padding-left: 50px;
          font-size: 1.8rem;
          color: turquoise;
          cursor: pointer;
        }
      }
  }

.buttons i:hover {
    color: white;

}



.title h2 {
      color:white;
      font-size: 5rem;
      font-family: 'Poiret One', cursive;
      padding-bottom: 50px;
      font-weight: bold;   
      letter-spacing: 3px;  
      text-align: right;
    }

.description {
    width: 60%;
    border-top: 2px solid turquoise;
    

    p {
      font-family: 'Open Sans', sans-serif;
      color:white;
      font-size: 1.7rem;
      display: block;
      padding-top:50px;
      line-height: 50px;
      
    }
}


.moreInfo {
    background-color:rgba(00, 00, 00, 0.5);
    width: 90%;
    margin: 0 auto;
    padding: 60px;
    border: 2px solid turquoise;
    line-height: 40px;
    position:relative;
    
    p{
      color: white;
      font-size: 1.5rem;
      font-family: 'Open Sans', sans-serif;
      margin:15px 0;
      }
}


.videoPopup {
    position:relative;
    margin:0 auto;
}
  
.close,
.closeInfo{
  position: absolute;
  padding: 5px;
  top: -30px;
  right: -6px;
  font-size: 1.8rem;
  color:grey;
  cursor:pointer;
  font-family: 'Open Sans', sans-serif;

}

.closeInfo{
  top:-60px;
 
}


.close:hover{
  color:white;
}



.slide1 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url(../assets/espresso2.jpg);
}


.slide2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url('../assets/americano.jpg');
}

.slide3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url('../assets/latte.jpg');
}

.slide4 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url('../assets/capuccino.jpg');
}

.slide5 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.8)), url('../assets/macchiato.jpg');
}



.containerArrow img{
  width: 45px;
  position:absolute;
  top:50%;
  cursor:pointer;
  z-index: 99;
  background-color:transparent;
  border: 1px solid white;
  border-radius: 25px;
  padding:4px;

}

.containerArrow img:hover{
  background-color: turquoise;

}

.arrowLeft img{
  left:20px;
}

.arrowRight img{
  right:20px;
  // position:absolute; 
}

.heartbeat {
-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
* Generated by Animista on 2020-7-25 16:24:52
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation heartbeat
* ----------------------------------------
*/
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-7-25 16:13:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }



// mediaQueries


  @media(max-width:915px){


    .slideContent{
        width:80%;
        text-align: center;
        display: block;
        padding:50px;
        
    }


    .home h1{
      font-size: 4rem;
     
    }

    .description {
        width: 100%;
        
    }

    p{
        text-align: center;
        font-size: 1.5rem;
        
    }

    .title h2{
        width:100%;
        padding-top:100px;
        text-align:center;
           
    }

    .moreInfo {
      width: 100%;
      margin: 0 auto;
      padding: 30px;

      
      p{
      
        font-size: 1.4rem;
        }
      
    }

    .slideContent .buttons{
      text-align: center;
      padding-top:80px;
      margin:0 auto;

      i{
        padding: 0 40px;
        text-align: center;
        margin:0 auto;
      }
    }
 
  }
